 <div class="page-buffer"></div>
 </div> 
 <div class="footer">
  2013-2014 Download.me
  </div>

    <script type="text/JavaScript">
     $(document).ready(function () {	
     	$('ul.nav li.active').removeClass('active');
        $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
     });
     </script>
    <script type="text/javascript">

$( "a#add_comment" ).click(function() {
$('#comment').show(); 
$(this).hide();
//return false;
});
</script>

<script type="text/javascript">

$(function() {

   $('.comments_section').on("click", "a.reply", function(event) {
    var parent = $(this).closest('div.comment').attr('id');
    $( "input[name='parentId']", 'form#reply' )
    .val(parent)
      .closest('form')
        .find('textarea')
          .val("")
            .end()
              .insertAfter('#'+parent)
                .slideDown();
    $(this).hide();
   });

  $('.content').on('click', '.parent_comment_ref', function(event) {
        var parent = $(this).text().substr(2);
            var top = $('#'+parent).offset().top;
            var height = $('#'+parent)[0].offsetHeight;
         if ( (top < window.pageYOffset) || ((top + height) > (window.pageYOffset + window.innerHeight)) )  {
            $('html, body').animate({
             scrollTop: $("#"+parent).offset().top - 40
            }, 600);
          }
        $('#'+parent).addClass('parent');
        var timer = setTimeout(function() {
          $('.parent').removeClass('parent', 'slow');
        }, 2000);
  });

 });

  </script>

 <script type="text/javaScript">

$('#comment, #reply').submit(function(event) {

  var button = $('input[type="submit"]', this);
  var currentForm = this;
  var formData = $(this).serializeArray();

  function displayErrorMessage() {
    $('<div class="alert alert-error fade in"></div>')
      .append('<a href="#" class="close" data-dismiss="alert">&times;</a>')
      .append('<strong>Ой!</strong> Произошел сбой отправки данных.')
      .appendTo(this).position({
        my: "left+20 center",
        at: "right center",
        of:  $('textarea', this),
      });
  }

/****** здесь просто проверяем тело комментария на непустое знеачение ****/
  if ($('textarea[name="body"]', this).val() == "") {
     
     if ($('textarea[name="body"]', this).hasClass('emptyBody') ) {
      event.preventDefault();
      return false;
     } 

    $('textarea', this)
    .wrap('<div class="control-group error"></div>')
    .addClass('emptyBody')
    .after('<span class="help-inline">Это поле обязательно для заполнения</span>')
    .one("focus", function() {
      $(this)
      .focus()
      .unwrap()
      .removeClass('emptyBody')
      .next('span')
      .remove();
    });
    event.preventDefault();
    return false;
  }
/****** ====================================================****/

  $.ajax({
      dataType: 'json',
      data: formData,
      type: "POST",
      url: '/comment/async',
      context: currentForm,
      complete: function () {
        $(button).button('reset');
      }, 
      error: function() {
        displayErrorMessage.call(this);
      }, 
      success: function (result) {
        if (result['ok']) {
        $(this).slideUp(400, function () {
        var html = $.parseHTML(result['html']);
        
        $(html[0]).hide();

        if (!result['parentId']) {
          $(html).insertBefore('#add_comment');

        } else if (result['relativesNum']) {
          $('#'+ result['parentId'] + '~ div.comment').eq(result['relativesNum']-1).after(html);
        } else {
          $(html).insertAfter('#'+ result['parentId'] );
        }

        $('#'+result['id']).slideDown().addClass('brand-new', 'normal');
            var top = $('#'+result['id']).offset().top;
            var height = $('#'+result['id'])[0].offsetHeight;

            
          if ( (top < window.pageYOffset) || ((top + height) > (window.pageYOffset + window.innerHeight)) )  {
            $('html, body').animate({
             scrollTop: $("#"+result['id']).offset().top - 40
            }, 600);
          }
      
        var timer = setTimeout(function() {
          $('.brand-new').removeClass('brand-new', 'slow');
        }, 2000);

        $('a[style="display: none;"]', '.comments_section').show();
      });
    } else {
        displayErrorMessage.call(this);
    }
}
});
event.preventDefault();
});
 </script>


  </body>
</html>